.vs/slnx.sqlite
.vs/Blog/copilot-chat/15944134/sessions/d2288153-f86b-408b-83aa-81837a83d5e8
.vs/Blog/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/Blog/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
.vs/Blog/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
.vs/Blog/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
.vs/Blog/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
.vs/Blog/FileContentIndex/7b3f4f8c-8200-43b0-b1bc-c62fcb41a763.vsidx
.vs/Blog/FileContentIndex/964ff986-bff2-4ed7-91b3-6fd35cf68cfc.vsidx
.vs/Blog/FileContentIndex/6076883c-38dc-4c02-a20a-80cb7ccb5392.vsidx
.vs/Blog/FileContentIndex/bf193a2a-b8e2-4d58-8eba-b7174b7698dd.vsidx
.vs/Blog/v17/.suo
.vs/Blog/v17/DocumentLayout.backup.json
.vs/Blog/v17/DocumentLayout.json
.vs/Blog-VibeCoding/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/Blog-VibeCoding/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/Blog-VibeCoding/FileContentIndex/1536ee96-e5c6-4427-ade1-7c9affadcaaf.vsidx
.vs/Blog-VibeCoding/v17/.wsuo
.vs/Blog-VibeCoding/v17/DocumentLayout.backup.json
.vs/Blog-VibeCoding/v17/DocumentLayout.json
.vs/ProjectEvaluation/blog.metadata.v9.bin
.vs/ProjectEvaluation/blog.projects.v9.bin
.vs/ProjectEvaluation/blog.strings.v9.bin
Blog.Application/bin/Debug/net8.0/Blog.Application.dll
Blog.Application/bin/Debug/net8.0/Blog.Application.pdb
Blog.Application/bin/Debug/net8.0/Blog.Domain.dll
Blog.Application/bin/Debug/net8.0/Blog.Domain.pdb
/Blog.Presentation/obj/Release/net8.0
